.card-inner {
  box-shadow: 0 0 6px #222;
  border-radius: 3px;
}

.card-title {
  text-shadow: black 0 .5px 3px;
}

.card-img {
  border-radius: 3px 3px 0 0;
  border-bottom: var(--color-red) solid 2px;
}

.card-body {
  background-color: #fff;
  margin: 0;
  height: 210px;
}

.card-body-txt {
  margin: 0;
  color: black;
  font-size: .8rem;
  line-height: 1.2rem;
}

.dog-age {
  font-family: var(--font-secondary);
  color: black;
}

.card:hover .btn-card {
  border-top: 1px solid var(--color-red);
  background-color: var(--color-primary);
  color: var(--color-red);
}

.nav-btn {
  text-align: center;
}

.nav-btn-txt {
  color: var(--color-orange);
  transition: all .3s ease-in;
}

.nav-btn-square {
  box-shadow: 0 0 6px #222;
  background-color: var(--color-primary);
  border: 3px solid var(--color-orange);
  border-radius: 3px;
  transition: all .3s ease-in;
  width: 8em;
  padding: 2.6em 0;
}

.nav-btn-square:hover .nav-btn-txt {
  color: var(--color-primary);
}

.nav-btn-square:hover {
  background-color: var(--color-orange);
  color: var(--color-primary);
}

.icon-size {
  max-width: 32px;
}

.icon-hover-on {
  animation: iconslideup .5s ease-in-out;
  animation-direction: forwards;
  animation-iteration-count: 0;
}

@keyframes iconslideup {
  to {transform: scale(1);}
  from {transform: scale(1.25) translateY(-10px);}
}

.icon-hover-off {
  animation: iconslidedown .5s ease-in-out;
  animation-direction: forwards;
  animation-iteration-count: 0;
}

@keyframes iconslidedown {
  to {transform: scale(1.25);}
  from {transform: scale(1) translateY(0px);;}
}

@media only screen and (min-width: 35em) {

  .nav-btn-square {
    width: 8.5em;
    padding: 2.5em 0;
  }

  .icon-size {
    max-width: 32px;
  }

  .card-body {
    height: 250px;
  }

  .card-body-txt {
    margin: 0;
    color: black;
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

}

@media only screen and (min-width: 60em) {

  .nav-btn-square {
    width: 12em;
    padding: 4.2em 0;
  }

  .icon-size {
    max-width: 64px;
  }

  .card-body {
    height: 230px;
  }

  .card-body-txt {
    font-size: .65rem;
  }

  .card-body-txt {
    margin: 0;
    color: black;
    font-size: .7rem;
    line-height: 1.2rem;
  }

}

@media only screen and (min-width: 90em) {

  .nav-btn-square {
    width: 12em;
    padding: 4.2em 0;
  }

  .icon-size {
    max-width: 128px;
  }

  .card-body {
    height: 250px;
  }

  .card-body-txt {
    font-size: .65rem;
  }

  .card-body-txt {
    margin: 0;
    color: black;
    font-size: .7rem;
    line-height: 1.2rem;
  }

}
