.card-inner {
  box-shadow: 0 0 6px #222;
  border-radius: 3px;
}

.card-title {
  text-shadow: black 0 .5px 3px;
}

.card-img {
  border-radius: 3px 3px 0 0;
  border-bottom: var(--color-red) solid 2px;
}

.card-body {
  background-color: #fff;
  margin: 0;
}

.card-body-txt {
  margin: 0;
  color: black;
}

.dog-age {
  font-family: var(--font-secondary);
  color: black;
}

.card:hover .btn-card {
  border-top: 1px solid var(--color-red);
  background-color: var(--color-primary);
  color: var(--color-red);
}

.nav-btn {
  text-align: center;
}

.nav-btn-txt {
  color: var(--color-orange);
  transition: all .3s ease-in;
}

.nav-btn-square {
  box-shadow: 0 0 6px #222;
  background-color: var(--color-primary);
  border: 3px solid var(--color-orange);
  padding: 4em;
  border-radius: 3px;
  transition: all .3s ease-in;
}

.nav-btn-square:hover .nav-btn-txt {
  color: var(--color-primary);
}

.nav-btn-square:hover {
  background-color: var(--color-orange);
  color: var(--color-primary);
}
