.section-title {
  padding-top: 6em;
  border-bottom: 2px solid var(--color-orange);
}

.card-title {
  font-size: 1.4em;
  color: var(--color-orange);
}

.animals-title {
  color: var(--color-orange);
}
