input, select, textarea {
  border: 2px solid var(--color-orange);
  color: var(--color-primary);
}

.title {
  color: var(--color-orange);
}

.label, .check {
  font-family: var(--font-secondary);
  color: var(--color-orange);
  text-shadow: black 0 .5px 3px;
}

.check {
  font-weight: 400;
  color: var(--color-red);
}

.error-top {
  border: 3px solid var(--color-red);
  box-shadow: 0 0 6px #222;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-red);
}

.error-message {
  display: none;
  color: var(--color-red);
  border: 1px solid var(--color-orange);
}

.is-validated .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

.label {
  font-size: 1em;
  font-weight: 400;
  transition: all .5s ease-out;
}

.label:hover {
  transform: translate(1%);
}

input[type="radio"] + label::before {
  width: 1.5em;
  height: 1.5em;
  border-color: var(--color-orange);
}

.button-label {
  padding-right: 2em;
}

.is-validated input:invalid,
.is-validated input[type="radio"]:invalid + label::before {
  border-color: var(--color-red);
}

.section-title {
  padding-top: 5em;
}

.title, .disclaimer {
  padding-left: .5em;
  padding-right: 2em;
}

.left {
  margin-left: .5em;
  margin-right: .5em;
  width: 100%;
}

.middle {
  margin-left: .5em;
  margin-right: .5em;
  width: 100%;
}

.right {
  margin-left: .5em;
  margin-right: .5em;
  width: 100%;
}

.left-alone {
  margin-left: .5em;
  margin-right: .5em;
  width: 100%;
}

.left-alone-wide {
  margin-left: .5em;
  margin-right: .5em;
  width: 100%;
}

.right-alone {
  width: 100%;
  padding-left: .5em;
  padding-right: .5em;
}

.rule {
  border-top: 2px solid #3d3d3d;
}

.sub-head {
  padding-left: .5em;
  color: var(--color-orange);
}

.sub {
  padding-left: .5em;
}

@media only screen and (min-width: 35em) {

  .left {
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
  }

  .middle {
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
  }

  .right {
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
  }

  .left-alone {
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
  }

  .left-alone-wide {
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
  }

  .right-alone {
    width: 100%;
    padding-left: .5em;
    padding-right: .5em;
  }

  .sub-head {
    padding-left: .5em;
  }

  .sub {
    padding-left: .5em;
  }

}

@media only screen and (min-width: 60em) {

  .left {
    margin-left: 0;
    margin-right: .5em;
    width: 31%;
  }

  .middle {
    margin-left: .5em;
    margin-right: .5em;
    width: 31%;
  }

  .right {
    margin-left: .5em;
    margin-right: 0;
    width: 31%;
  }

  .title, .disclaimer {
    padding-left: 0;
    padding-right: 0;
  }

  .left-alone {
    margin-left: 0;
    width: 48.5%;
    padding-right: .5em;
  }

  .left-alone-wide {
    margin-left: 0;
    width: 60%;
    padding-right: .5em;
  }

  .right-alone {
    width: 48.5%;
    padding-left: 0;
    padding-right: .5em;
  }

  .sub-head {
    padding-left: 0;
  }

  .sub {
    padding-left: 0;
  }

}

@media only screen and (min-width: 90em) {

  .left {
    margin-left: 0;
    margin-right: .5em;
  }

  .middle {
    margin-left: .5em;
    margin-right: .5em;
  }

  .right {
    margin-left: .5em;
    margin-right: 0;
  }

  .title, .disclaimer {
    padding-left: 0;
    padding-right: 0;
  }

  .left-alone {
    width: 48.5%;
    padding-right: .5em;
  }

  .left-alone-wide {
    width: 60%;
    padding-right: .5em;
  }

  .right-alone {
    width: 48.5%;
    padding-left: 0;
  }

  .sub-head {
    padding-left: 0;
  }

  .sub {
    padding-left: 0;
  }

}
