:root {
  --color-primary: #4f4d4e;
  --color-orange: #f9a43e;
  --color-red: #f27077;

  --font-primary: "Amatica SC", serif;
  --font-secondary: "Dosis", sans-serif;
}

html {
  font-family: var(--font-secondary);
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--color-red);
}

ul, ol, dl {
  font-family: var(--font-secondary);
  list-style-type: none;
}

dt {
  font-weight: bold;
}

blockquote {
  font-family: var(--font-primary);
}

cite {
  font-family: var(--font-secondary);
  font-style: normal;
}

q {
  font-weight: bold;
}

em {
  font-family: var(--font-primary);
  font-style: normal;
}

del {
  color: grey;
}

ins {
  text-decoration: none;
  font-weight: bold;
}

abbr {
  font-family: var(--font-secondary);
  font-weight: bold;
}

a {
  color: var(--color-red);
  text-decoration: none;
  display: inline-block;
}

body {
  background-color: #4f4d4e;
}
